// @import "../../lib/hotcss/px2rem.scss";

$drak-color: #343a40;
$main-color: $drak-color;

$text-color: #222222;
$fade-text-color: #666666;
$line-color: #bebebe;


// space
$left-sapce: 150px;

// font-size
$large-title: 38px;
$title1: 17px;
$title2: 15px;
$titl3: 13px;
$headline: 18px;
$subheadline: 14px;
$body: 14px;


// flex布局 子元素垂直水平剧中
@mixin childsCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// box
.wrap-box {
    margin: 0 $left-sapce;
}

html, body {
    width: 100%;
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}